.container {
  padding: 0 2rem;
  height: 100vh;

  padding-top: 6rem;
}

.content {
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  
  margin-bottom: 2.6rem;
}

